<div class="container mt-4">
    <h2>Explore our categories</h2>
    <div class="row">
        <!-- Loop over categories to create a grid -->
        <div *ngFor="let item of categoryData"
            class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="card p-3 w-100" (click)="onCardClick(item)">
                <label class="form-check-label">{{ item.name }}</label>
                <img [src]="getImageUrl(item.name)" alt="{{ item.name }}" class="card-img-top img-fluid mt-2" />
            </div>
        </div>
    </div>
</div>
