ul>li{
    text-decoration: none;
    font-size: 25px;
    list-style: none;
}

.card:hover{
    cursor: pointer;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

